#footer {
  background-color: #4d5dfb;
  height: 40px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}
