#top-bar {
  height: 50px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    #login-button {
      margin-top: 5px;
      margin-right: 10px;
      float: right;
    }

    .link-stylization {
      color: #ffffff;
      text-decoration: none;
    }

    .link-stylization:hover {
      color: #ffffff;
      text-decoration: none;
    }
}
